@import "tailwindcss";

@theme {
  --color-brand-primary: #F97316; /* Vibrant Orange */
  --color-brand-secondary: #C2410C; /* Burnt Orange */
  --color-brand-accent: #FDE047; /* Bright Yellow */
  --color-brand-bg: #0C0A09; /* Stone Black */
  --color-brand-text: #FAFAF9; /* Warm White */
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
}

@layer base {
  body {
    @apply text-brand-text font-sans;
    background-image: 
    linear-gradient(rgba(12, 10, 9, 0.75), rgba(12, 10, 9, 0.75)),
    url("https://images.unsplash.com/photo-1585937421612-70a008356fbe?q=80&w=1936&auto=format&fit=crop");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: var(--color-brand-bg);
  }
}

.glass-card {
  @apply bg-white/10 backdrop-blur-xl border border-white/10 shadow-2xl;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


